section.about-section(style="background: #f5f6f6")
  .pattern-layer(style="background-image: url(assets/themes/assets/images/shape/shape-2.png)")
  .auto-container
    .row.clearfix
      .col-lg-6.col-md-12.col-sm-12.image-column
        .image_block_1
          .image-box
            .shape
              .shape-1(style="background-image: url(assets/themes/assets/images/shape/shape-2.png)")
              .shape-2(style=`background-image: url(${about01.info.decoShape}); width: 150px; height: 150px`)
            figure.image.image-1
              img.allow-viewer(src=about01.info.image1.src, alt=about01.info.image1.alt, style="border-radius: 0.5em")
              .shape-3(style=`background-image: url(${about01.info.decoShape}); width: 150px; height: 150px`)
            figure.image.image-2
              img(src=about01.info.image2.src, alt=about01.info.image2.alt, style="border-radius: 0.5em")
            .video-content
              h3.text-pretty.text-italic.color-primary!= about01.info.video.caption
              .video-btn
                a.lightbox-image(href=about01.info.video.href, data-caption=about01.info.video.caption)
                  i.icon-Video
      .col-lg-6.col-md-12.col-sm-12.content-column
        .content_block_1
          .content-box
            .sec-title
              p.color-primary!= about01.info.title
              h2.color-primary!= about01.info.description
              //h3.text-pretty.color-primary.text-italic(style="margin-top: 0.5em")!= about01.info.description
            - for (let detail of about01.info.details)
              .text
                p.color-text-primary
                  b!= detail.primary
                  span!= ' ' + detail.secondary
            //img(src="assets/images/partners.png", alt="Đơn vị hoian d'or")
            //                   <ul class="list clearfix">
            //                     <li>Ratione voluptatem.sequi nesciunt.</li>
            //                     <li>Ratione voluptatem.</li>
            //                     <li>Ratione voluptatem sequi.</li>
            //                   </ul>
            //.btn-box
            //  a.theme-btn(href="#contact") Liên Hệ
      //.col-lg-12.col-md-12.col-sm-12
      //  img(src="assets/images/partners.png", style="width: 100%")
