section#vi-tri.map-section.bg-color-1.la-cloud(style="padding-bottom: 120px; background: #ffffff")
  .pattern-layer.la-no-animation(style="background-image: url(assets/themes/assets/images/shape/shape-1.png)")
  .auto-container
    .row
      .col-lg-6.col-md-12.col-sm-12
        .sec-title(style="text-align: left")
          p.color-primary!= about2.title
          h2.color-primary!= about2.description
      .col-lg-6.col-md-12.col-sm-12(style="margin-bottom: 2em")
        .shape-2.la-shape(style=`background-image: url(${about2.info.decoShape})`)
        .la-text-justify.la-text-primary.la-z-index.la-first-letter!= about2.info.content
      .col-12.pb-5
        img.allow-viewer(src=about2.image2.src, alt=about2.image1.alt, style="width: 100%")
    .map-inner
      .map-content.clearfix(style="min-height: 0")
        img.border-primary-2.allow-viewer(src=about2.image1.src, alt=about2.image1.alt, style="width: 100%; border-radius: 1em")
        //.la-bottom-image
        //  img.allow-viewer(src=about2.image2.src, alt=about2.image1.alt, style="width: 100%")
section#mat-bang.map-section.bg-color-1.la-cloud(style="padding-bottom: 120px")
  .pattern-layer.la-no-animation(
    style="background-image: url(assets/themes/assets/images/shape/shape-24.png); bottom: -90px; z-index: 1; height: 100px"
  )
  .auto-container
    .row
      .col-lg-6.col-md-12.col-sm-12(style="margin-bottom: 2em")
        .la-text-justify.la-text-primary.la-z-index.la-first-letter!= about2.ground.info.content
      .col-lg-6.col-md-12.col-sm-12
        .shape-2.la-shape(style=`background-image: url(${about2.info.decoShape});left: unset;right:-10px`)
        .sec-title.la-z-index(style="text-align: right")
          p.color-primary!= about2.ground.description
          h2.color-primary!= about2.ground.title
          .pl-5.pt-3
            img.d-none.d-lg-block(
              src=about2.ground.info.deco.src,
              alt=about2.ground.info.deco.alt,
              width=about2.ground.info.deco.width,
              height=about2.ground.info.deco.height
            )
    .row.mb-4.pb-5.pt-5
      - for(const info of about2.ground.info.more)
        .col-6.col-lg-3.col-md-3.col-sm-3.la-col-info
          span.la-number.text-pretty.color-primary!= info.count
          span.la-digits.color-primary!= info.digits
          .la-text-primary!= info.variant
    .map-inner
      - for (const image of about2.ground.images)
        .map-content.clearfix(style="min-height: 0")
          img.border-primary-2.allow-viewer(src=image.src, alt=image.alt, style="width: 100%; border-radius: 1em")
