section#lien-he.contact-section.la-cloud
  .pattern-layer.la-no-animation(style="background-image: url(/assets/themes/assets/images/shape/shape-10.png)")
  .auto-container(style="margin-bottom: 2em")
    div(style="position: relative")
      .la-fancy-divider
        img(src="/assets/images/shape2.png", alt="divider")
        .la-fancy-line
    .row.clearfix.la-contact-container.p-sm-5.p-md-5.m-1.la-border-fancy-2
      .col-lg-5.col-md-12.col-sm-12.content-column
        .content_block_5
          .content-box
            .sec-title
              p.color-primary Hội An D'Or
              h2.color-primary Liên hệ
              //h3.color-primary(style="margin-top: 1em") Nhận thông tin mới nhất về dự án chính thức từ chủ đầu tư
            //.text
            //  p.la-text-primary!= 'Hãy để chúng tôi liên lạc với Quý Khách. Hệ thống chăm sóc khách hàng chuyên nghiệp <strong>phục vụ 24/7, tất cả các ngày trong tuần</strong> sẽ thông tin tới Quý Khách <strong>nhanh nhất</strong> về dự án <strong>Hoian d\'Or.</strong>'
            //ul.social-links.clearfix
            //  li
            //    a(href=header.contact.facebook, target="_blank")
            //      i.fab.fa-facebook-f
            .la-contact-info
              .centred.header-logo
                img(src=header.logo.src, alt=header.logo.alt, width=207)
              .text.centred
                p.centred.la-text-primary!= header.contact.company
                p.centred.la-text-primary!= header.contact.address
                p.centred.la-text-primary!= header.contact.email
      .col-lg-7.col-md-12.col-sm-12.form-column
        .form-inner.la-rounded
          form.default-form(method="post", action="sendemail.php", novalidate)
            .row.clearfix
              .col-12.form-group
                input.la-rounded(type="text", name="username", placeholder="Họ và tên (*)", required)
              .col-12.form-group
                input.la-rounded(type="email", name="email", placeholder="Email (nếu có)")
              .col-12.form-group
                input.la-rounded(type="text", name="phone", required, placeholder="Số điện thoại (*)")
              .col-lg-12.col-md-12.col-sm-12.form-group.message-btn
                button.la-rounded.theme-btn(type="submit", name="submit-form") Nhận tư vấn
