header.main-header.style-one
  //  header-lower 
  .header-lower
    .auto-container
      .outer-box
        .logo-box.la-logo-box
          figure.logo
            a(href=header.logo.href)
              img(src=header.logo.src, alt=header.logo.alt)
        .menu-area.clearfix
          // Mobile Navigation Toggler
          .mobile-nav-toggler
            i.icon-bar
            i.icon-bar
            i.icon-bar
          nav.main-menu.navbar-expand-md.navbar-light
            #navbarSupportedContent.collapse.navbar-collapse.show.clearfix
              ul#top-menu.navigation.clearfix
                - for (let item of (header.menu||[]))
                  li(class=`${item.active ? 'current' : ''} ${item.children ? 'dropdown' : ''}`.trim())
                    a(href=item.href) #{ item.label }
                    - if (item.children)
                      ul
                        - for(let childItem of item.children)
                          li
                            a(href=childItem.href) #{ childItem.label }
  // sticky Header
  .sticky-header
    .auto-container
      .outer-box
        .logo-box
          figure.logo
            a(href=header.logo.href)
              img(src=header.logo.src, alt=header.logo.alt)
        .menu-area
          nav.main-menu.clearfix
            // Keep This Empty / Menu will come through Javascript
  //  Mobile Menu  
  .mobile-menu
    .menu-backdrop
    .close-btn
      i.fas.fa-times
    nav.menu-box
      .nav-logo
        a(href=header.logo.href)
          img(src=header.logo.src, alt=header.logo.alt)
      .menu-outer
        // Here Menu Will Come Automatically Via Javascript / Same Menu as in Header
      .contact-info
        h4 Thông tin liên hệ
        ul
          li #{ header.contact.address }
          li
            a(href=`tel:${header.contact.mobile}`) #{ header.contact.mobile }
          li
            a(href=`mailto:${header.contact.email}`) #{ header.contact.email }
      .social-links
        ul.clearfix
          //li
          //  a(href="index.html")
          //    span.fab.fa-twitter
          li
            a(href=header.contact.facebook)
              span.fab.fa-facebook-square
          //li
          //  a(href="index.html")
          //    span.fab.fa-pinterest-p
          //li
          //  a(href="index.html")
          //    span.fab.fa-instagram
          //li
          //  a(href="index.html")
          //    span.fab.fa-youtube
