extends ../../layouts/hoiandor/home

block body
  include ../../blocks/hoiandor/header
  article#content
    section.page-title.la-cloud(style=`background-image: url(${background})`)
      .pattern-layer.la-no-animation(style="background-image: url(/assets/themes/assets/images/shape/shape-20.png)")
      .auto-container
        .content-box(style="margin-top: 100px")
          .row
            header.col-lg-8.col-md-12.col-sm-12.content-side
              h1#firstHeading!= title
              p.la-text-justify!= description
    section.sidebar-page-container(style="padding-top: 0; padding-bottom: 0")
      .auto-container
        .row.clearfix
          .col-lg-8.col-md-12.col-sm-12.content-side
            .blog-details-content
              #toc.toc
                .toctitle(lang="vi", dir="ltr")
                  h2#mw-toc-heading Nội dung
                ul
                  - for (let i=0;i<contents.length;i++)
                    - var item = contents[i];
                      li.toclevel-1.tocsection-1
                        a(href=item.href)
                          span.tocnumber!= i + 1
                          span.toctext!= item.name
                        - if (item.children && item.children.length>0)
                          ul
                            - for (let j=0;j<item.children.length;j++)
                              - var item1 = item.children[j];
                                li.toclevel-2.tocsection-2
                                  a(href=item1.href)
                                    span.tocnumber!= i + 1 + '.' + (j + 1)
                                    span.toctext!= item1.name
              //.news-block-one
              //  .inner-box
              //    .lower-content
              //      .category
              //        a(href=categoryURL)!= category
              .text(data-sticky-container)!= content
              .post-share-option.clearfix
                .text.pull-left
                  h3.text-pretty.color-primary Chia sẻ bài viết:
                ul.social-links.pull-right.clearfix(style="margin-bottom: 0")
                  li
                    a.share-facebook(
                      target="_blank",
                      onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                      rel="noreferrer"
                    )
                      i.fab.fa-facebook-f
                  li
                    a.share-twitter(
                      target="_blank",
                      onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                      rel="noreferrer"
                    )
                      i.fab.fa-twitter
          .col-lg-4.col-md-12.col-sm-12.sidebar-side(data-sticky-container)
            .blog-sidebar.default-sidebar.la-see-also
              .sidebar-widget.post-widget.la-sticky(data-sticky-wrap="true", data-sticky-for="992", data-margin-top="120")
                .widget-title(style="margin-bottom: 3em")
                  h2#see-also.text-pretty.color-primary.font-weight-bold Xem thêm
                .post-inner
                  .post
                    figure.post-thumb
                      a(href="blog-details.html")
                        img(src="assets/images/news/post-1.png", alt)
                    h4
                      a(href="blog-details.html") Consequntur eos magni dolore.
                    //p!= description
                  .post
                    figure.post-thumb
                      a(href="blog-details.html")
                        img(src="assets/images/news/post-2.png", alt)
                    h4
                      a(href="blog-details.html") Magni dolore qui ratione seque.
                  .post
                    figure.post-thumb
                      a(href="blog-details.html")
                        img(src="assets/images/news/post-3.png", alt)
                    h4
                      a(href="blog-details.html") Ratone magni sed dolore eos.
  include ../../blocks/hoiandor/contact01
  include ../../blocks/hoiandor/foot
